<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Viewport" content="width=device-width, initial-scale=1.0">
        <title>Steam Wishlist Ranker</title>
    </head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

    <body>
        <h1> Steam Wishlist Ranker </h1>
        <nav>
            <a href="page.html" class="button">Switch <br>Pages</a>
        </nav>
        <body>
            <table width="100%" border-style="solid">
                <tr>
                    <th>Name</th>
                    <th>Picture</th>
                    <th>Overall Score</th>
                    <th>Price</th>
                    <th>All Time</th>
                    <th>Recent</th>
                    <th>Interest</th>
                </tr>
                {% for game in games %}
                <tr>
        
                    <th>{{ game.name }}</th>
                    <th><a href="{{ game.image }}"><img src="{{ game.image }}" alt="Game Image"></a></th>
                    <th>{{ game.score }}</th>
                    <th>{{ game.price }}</th>
                    <th>{{ game.all_time_reviews }}</th>
                    <th>{{ game.recent_reviews }}</th>
                    <th>{{ game.interest }}</th>
                </tr>
                {% endfor %}
            </table>
        </body>
</html>